@{
    ViewData["Title"] = "Pagina Principal";
}

    <div class="Imagem">
        <img src="~/images/MinhasImagens/image1.jpg" />
    </div>
    <div class="">
        <img src="~/images/MinhasImagens/image2.jpg" />
    </div>
    <div class="">
    <img src="~/images/MinhasImagens/image4.jpg"/>
</div>
