@using Microsoft.AspNetCore.Identity
@using ProjetoTrails4Health.Models
@model IEnumerable<Turista> 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Turista";
}

<h2>Turista</h2>

<table class="table">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (UserManager.GetUserName(User) == Html.DisplayNameFor(model => model.Nome)) { 
            <tr>
                <td><a asp-action="Edit" asp-route-id="@Html.DisplayNameFor(model => model.TuristaId)">Editar</a> </td>
            </tr>
            <tr>
                <td><a asp-action="Details" asp-route-id="@Html.DisplayNameFor(model => model.TuristaId)">Detalhes</a> </td>
            </tr>
        }
    }
</table>

