@model ProjetoTrails4Health.Models.ViewModels.TuristaListViewModel

@{
    ViewData["Title"] = "Lista de Turistas";
}

<h2>Lista de Turistas</h2>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>


@foreach (Turista t in Model.Turistas)
{
    @Html.Partial("TuristaSummary", new TuristaViewModel { Turista = t })
}

<div page-model="@Model.PagingInfo"
     css-classes-enabled="true"
     css-class-page="btn btn-sm"
     css-class-page-normal="btn-default"
     css-class-page-selected="btn-primary"
     class="pull-right">
</div>