@model ProjetoTrails4Health.Models.Professor

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Professor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Morada" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Morada" class="form-control" />
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CodPostal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CodPostal" class="form-control" />
                <span asp-validation-for="CodPostal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telemovel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telemovel" class="form-control" />
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataNascimento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NIF" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NIF" class="form-control" />
                <span asp-validation-for="NIF" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Funcao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Funcao" class="form-control" />
                <span asp-validation-for="Funcao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="N_Gabinete" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="N_Gabinete" class="form-control" />
                <span asp-validation-for="N_Gabinete" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
