@model ProfessorListViewModel

@{
    ViewData["Title"] = "Lista de Professores";
}

<h2>Lista de Professores</h2>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Morada</th>
            <th>Código Postal</th>
            <th>Email</th>
            <th>Telemóvel</th>
            <th>Data Nascimento</th>
            <th>Nif</th>
            <th>Função</th>
            <th>Nº Gabinete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Professor p in Model.Professores)
        {
            @Html.Partial("ProfessorSummary", new ProfessorViewModel { Professor = p })
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo"
     css-classes-enabled="true"
     css-class-page="btn btn-sm"
     css-class-page-normal="btn-default"
     css-class-page-selected="btn-primary"
     class="pull-right"
     page-action="Index">
</div>