@{
    ViewData["Title"] = "Sobre Nós";
}
<h2>@ViewData["Title"].</h2>
<h5>@ViewData["Message"]</h5>
<div>
    <p><h3>Este trabalho foi desenvolvido pelos alunos:</h3></p>
    <p>Andreia Ernesto | 1011713</p>
    <p>Pedro Sanches | 1012180</p>
    <p>Janilta Pires | 1012063</p>
</div>
<p></p>
<div>
    <p><h3>Objetivos:</h3></p>
    <p>Configurar e agendar percurso</p>
    <p>Consultar histórico de trilhos percorridos</p>
    
</div>